@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

#wrapper{

}

.carousel-inner .item img{
  max-width: none;
  min-width: 100%;
  height: 500px;
}

.header{
  height: 70px;
  width: 100%;
  background-color: #fff;
}

.logo{
  font-weight: 100;
  padding-left: 100px;
  margin: 0;
  line-height: 70px;
  color: rgba(39, 206, 213, 1);
}

.header-left{
  float: left;
}

.header-right{
  float: right;
  padding-right: 40px;
  font-size: 12px;
  font-family: YuGothic, '游ゴシック', sans-serif;
}

.header-right ul{
  text-align: center;
}

.header-right ul li{

}

.header-menu{
  float: left;
  padding: 0 20px;
  line-height: 70px;
  color: #333;
  cursor: pointer;
}

.hide-list{
  display: none;
}

.slide-left{
  width: 400px;
  height: 100%;
  padding: 50px;
  float: left;
  background-size: cover;
  color: white;
  font-size: 1.5em;
}

.carousel-control.left, .carousel-control.right{
  background-color: rgba(0,0,0,0);

}

.main-visual{
  width: 100%;
  margin: 0 auto;
/*  padding-top: 20px;*/
  margin-bottom: 60px;
}

.main{
  width: 100%;
/*  height: 700px;*/
  margin: 0 auto;
  margin-bottom: 60px;
}

.innr{
  width: 710px;
  margin: 0 auto;
}

.sub-read{
  text-align: center;
  line-height: 1em;
  margin-bottom: 30px;
  font-family: YuGothic, '游ゴシック', sans-serif;
}

.main-top{
  min-height: 400px;
  min-width: 1300px;
  padding-bottom: 40px;
  color: #204056;
  background-color: white;
  overflow: hidden;
}

.main-top-left{
  float: left;
  padding: 40px 0 0 100px;
}

.main-top-left h2{
  font-size: 2.5em;
}

#more-text{
  display: none;
}

.read{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
  line-height: 0.8em;
}

.intro{
  /*padding: 30px 0;*/
  font-size: 12px;
}

.intro p{
    font-family: YuGothic, '游ゴシック', sans-serif;
}

.left{
  width: 360px;
  float: left;
  color: #333;
  /*padding-left: 330px;*/
  /*padding-bottom: 40px;*/
}

h2{
  font-size: 16px;
  font-weight: bold;
}

p{
  line-height: 2;
}

.tax{
  font-size: 12px;
  color: #ccc;
  margin-bottom: 30px;
}

.right{
  float: left;
  width: 350px;
  height: 400px;
  /*padding-top: 40px;*/
  padding-left: 80px;
}

#more-text{
  display: none;
}

#more-text p{
  font-size: 12px;
}

#close{
  display: none;
  width: 150px;
  padding: 10px 0;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: #333;
  font-size: 12px;
}

#read-more{
  width: 150px;
  padding: 10px 0;
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: #333;
  font-size: 12px;
}


.gallery{
  text-align: center;
  overflow: hidden;
  background-color: #eee;
  padding-bottom: 40px;
  margin-bottom: 60px;
  line-height: 1.6em;
}

.gallery-heading{
  font-weight: 200;
  font-size: 40px;
  margin: 0;
  color: #204056;
}

.gallery-inner{
  padding: 50px 0;
}

.grid-row > div{
  display: inline-block;
}

.col-4{
  width: 260px;
}

.gallery-item{
  position: relative;
  height: 350px;
  padding: 40px;
  text-align: center;
  margin-right: 15px;
  background-color: #39d1b4;
  color: white;
}

.gallery-title{
  font-size: 20px;
}

.gallery-image{
  margin-bottom: 50px;
}

.gallery-cover{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px 20px;
  font-size: 14px;
  line-height: 2em;
  font-family: YuGothic, '游ゴシック', sans-serif;
}

.steps{
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
  margin-bottom: 60px;
  background-color: white;
  overflow: hidden;
}

.steps p{
  text-align: center;
  line-height: 1em;
}

.steps-heading{
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  color: #204056;
  margin-bottom: 30px;
}

.explain{
  padding-top: 20px;
  line-height: 1em;
}

.steps ul{
  width: 210px;
  height: 60px;
  margin: auto;
}

.steps li{
  float: left;
  background-color: rgb(53, 170, 165);
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  margin: 0 5px;
  border-radius: 40px;
  cursor: pointer;
}

.steps li:hover{
  background-color: rgb(54, 177, 172);
}

.steps li.active{
  background-color: rgb(67, 216, 210);
  color: white;
}

.image-part{
  float: left;
  padding-left: 100px;
}

.image-part img{
  width: 500px;
}

.explain-part{
  float: left;
  margin-left: 60px;
  font-size: 14px;
  line-height: 1.8em;
  font-family: YuGothic, '游ゴシック', sans-serif;
}

.explain-part h2{
  margin: 50px 0;
}

.explain{
  display: none;
}

.explain.active{
  display: block;
}


#modal-contact{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.contact{
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: white;
  padding: 50px 0;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  text-align: center;
}

.contact h2{
  color: rgb(75, 75, 75);
}

.fa-times{
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.contact input{
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.contact textarea{
  width: 400px;
  height: 200px;
  margin: auto;
}

#submit-btn{
  display: inline-block;
  padding: 15px 60px;
  background-color: rgba(26, 188, 156, 1);
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.thanks-msg{
  font-size: 20px;
}





