@charset "UTF-8";

h1{
	color: #ccc;
	margin-bottom: 40px;
}

.contact{
	display: none;
	width: 150px;
	padding: 10px 0;
	background-color: #eee;
	border: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	color: #888;
	font-size: 12px;
}

.main{
	width: 990px;
	height: 540px;
	margin: 0 auto;
	padding-top: 40px;
	margin-bottom: 60px;
}

.left{
	float: left;
	width: 500px;
	height: 400px;
	color: #888;
	padding-bottom: 40px;
}

h2{
	font-size: 19px;
	font-weight: bold;
}

p{
	line-height: 2;
}

.tax{
	font-size: 12px;
	color: #bdbdbd;
	margin-bottom: 30px;
}

.right{
	float: left;
	width: 350px;
	height: 400px;
}

#more-text{
	display: none;
}

#more-text p{
	font-size: 12px;
}

#close{
	display: none;
	width: 150px;
	padding: 10px 0;
	background-color: #eee;
	border: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	color: #888;
	font-size: 12px;
}

#read-more{
	width: 150px;
	padding: 10px 0;
	background-color: #eee;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	color: #888;
	font-size: 12px;
}

#read-more:hover{
	/*background-color: #eee;*/
}

.ttl{
	width: 400px;
	border-top: 1px dotted #ccc;
	padding: 20px 0 20px 0;
	line-height: 1.2;
}

.gallery{
  text-align: center;
  overflow: hidden;
  background-color: #FBFBEF;
  padding: 60px 0 60px 0;
}

.gallery-heading{
  font-weight: 200;
  font-size: 40px;
  margin: 0;
  color: #204056;
}

.grid-row > div{
  display: inline-block;
}

.col-4{
  width: 260px;
}

.gallery-item{
  position: relative;
  height: 300px;
  padding: 40px;
  text-align: center;
  margin: 0 15px 0 15px;
  background-color: #fff;
  color: #fff;
}

.gallery-title{
  font-size: 20px;
  color: #888;
}

.gallery-image{
  margin-bottom: 30px;
}

.gallery-cover{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  font-size: 14px;
  line-height: 2;
}

#modal-contact{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.contact{
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: white;
  padding: 50px 0;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  text-align: center;
}

.contact h2{
  color: rgb(75, 75, 75);
}

.fa-times{
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.contact input{
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.contact textarea{
  width: 400px;
  height: 200px;
  margin: auto;
}

#submit-btn{
  display: inline-block;
  padding: 15px 60px;
  background-color: rgba(26, 188, 156, 1);
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.thanks-msg{
  font-size: 20px;
}